<nav class="col-md-3">
    <div id="last-posts" class="open">
        <h3 data-open="last-posts">Aubm.net - Les derniers articles</h3>
        <ul>
            <li><a href="#">Astuce le serveur de developpement embarque de-php</a></li>
            <li><a href="#">Astuce phpstorm partager ses lives templates</a></li>
            <li><a href="#">Contrainte dunicite dans symfony 2 avec doctrine</a></li>
            <li><a href="#">Du neuf sous le capot</a></li>
            <li><a href="#">Gardez le code explicite court et modulaire</a></li>
            <li><a href="#">Installation et utilisation de sentry</a></li>
            <li><a href="#">La pagination avec doctrine la bonne methode</a></li>
            <li><a href="#">Mes premiers pas avec cakephp 3</a></li>
            <li><a href="#">Retour dexperience sur joomla point de vue dun developpeur</a></li>
            <li><a href="#">Utiliser les event subscriber avec fosrestbundle et jmsserializerbundle</a></li>
            <li><a href="#">Webservice restful avec symfony2 gerer les champs de type datetime</a></li>
        </ul>
    </div>

    <div id="tags" class="open">
        <h3 data-open="tags">Tags</h3>
        <ul class="tags">
            <li><a href="#">PHP</a></li>
            <li><a href="#">Golang</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">HTML</a></li>
        </ul>
    </div>

    <div id="categories" class="open">
        <h3 data-open="categories">Categories</h3>
        <ul class="categories">
            <li><a href="#">Archives Décembre 2015</a></li>
            <li><a href="#">Archives Novembre 2015</a></li>
            <li><a href="#">Archives Octobre 2015</a></li>
            <li><a href="#">Archives Septembre 2015</a></li>
        </ul>
    </div>
</nav>
